*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
html,
body{

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 226, 248);
}
.profile_box{
    padding: 20px;
    max-width: 300px;
    background-color: rgb(215, 210, 230);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile_img{
    width: 200px;
    border-radius: 110px;
}